@charset "UTF-8";
body {
  background: white;
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0; }

.container {
  min-width: 250px;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

header {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header a {
    color: black; }
  header button {
    width: 70px;
    font-size: 0.8em;
    height: 35px; }

a {
  text-decoration: none; }

button {
  height: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  border-radius: 5px;
  border: 0;
  background-color: #007bff;
  font-size: 1em;
  color: white;
  outline-color: lightgrey;
  cursor: pointer; }

.masthead {
  width: 100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .masthead h1 {
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    margin-top: -40px; }
  .masthead button {
    width: 100%; }

h1 {
  font-size: 2em;
  color: black; }

input {
  background: white;
  color: grey;
  font-size: 1em;
  text-align: left;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  margin-bottom: 10px;
  outline-color: #007bff; }

.wrap {
  width: 100%;
  min-height: 200px; }
  .wrap p {
    line-height: 1.5;
    font-size: 1.1em;
    margin-top: 0; }

.features {
  width: 100%;
  height: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px; }
  .features .wrap {
    text-align: center;
    margin-bottom: 50px; }
  .features .wrap:first-of-type {
    margin-top: 50px; }
  .features .wrap:last-of-type {
    margin-bottom: 0; }
  .features a {
    text-decoration: none; }

svg {
  fill: #007bff; }

h2 {
  color: black;
  font-size: 1.7em;
  margin-top: 15px;
  margin-bottom: 10px; }

h3 {
  font-size: 1.4em;
  margin-bottom: 10px; }

p {
  color: black;
  font-family: 'Century Gothic';
  font-weight: lighter; }

.showcase {
  width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left; }
  .showcase img {
    height: 100%; }
  .showcase h1, .showcase p {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px; }
  .showcase h1 {
    font-size: 2.1em;
    margin-top: 50px;
    margin-bottom: 10px; }
  .showcase p {
    margin-bottom: 50px;
    line-height: 1.7em; }

q {
  quotes: "“" "”";
  font-size: 1em;
  font-family: 'Century Gothic'; }
  q q:before {
    content: open-quote; }
  q q:after {
    content: close-quote; }

.image {
  width: 100%;
  height: 500px;
  background-image: contain;
  background-position: left; }

.testimonials {
  width: 100%;
  min-height: 1400px;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .testimonials .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px; }
    .testimonials .wrap .wrap:first-of-type {
      margin-top: 60px; }
    .testimonials .wrap .wrap:last-of-type {
      margin-bottom: 0; }
    .testimonials .wrap h1 {
      margin-bottom: 40px; }

.circle-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  -webkit-box-shadow: -2px 7px 9px #a6a6a6;
  box-shadow: -2px 7px 9px #a6a6a6; }

img {
  height: 100%;
  width: 100%; }
