$fft: 'Trebuchet MS', sans-serif;
$ffc: 'Century Gothic', sans-serif;
$pad20: 20px;
$blue: #007bff;
$maxw: 1000px;

body {
    background: white;
    font-family: $fft;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2em;
    color: black;
}

h2 {
    color: black;
    font-size: 1.7em;
    margin-top: 15px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

p {
    color: black;
    font-family: $ffc;
    font-weight: lighter;
}

img {
    height: 100%;
    width: 100%;
}
svg {
    fill: $blue;
}

button, input {
    max-width: 320px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1em;
    border: 0;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: $blue;
    color: white;
    outline-color: lightgrey;
    cursor: pointer;
}

input {
    
    background: white;
    color: grey;
    text-align: left;
    width: 100%;       
    padding-left: $pad20;
    margin-bottom: 10px;
    outline-color: $blue;
}

q {
    quotes: "“" "”";
    q:before {
      content: open-quote;
    }
    q:after {
      content: close-quote;
    }
    font-size: 1em;
    font-family: $ffc;
}

.container {
    min-width: 250px;
    max-width: 9000px;
    height: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

header {
    height: 50px;
    width: 100%;
    max-width: $maxw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    padding-left: $pad20;
    padding-right: $pad20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: black;
    }
    button {
        width: 70px;
        font-size: 0.8em;
        height: 35px;
    }
}

.masthead{
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: $pad20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    h1 {
        color: white;
        box-sizing: border-box;
        padding-left: $pad20;
        padding-right: $pad20;
        margin-bottom: 40px;
        margin-top: -40px;
    }
    button {
        width: 100%;
    }
}

.wrap {
    width: 100%;
    min-height: 200px;
    p {
        line-height: 1.5;
        font-size: 1.1em;
        margin-top: 0;
    }
}

.features {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: $pad20;
    padding-right: $pad20;
    .wrap {
        text-align: center;
        margin-bottom: 50px;
    }
    .wrap:first-of-type{
        margin-top: 50px;
    }
    .wrap:last-of-type {
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
    }
}

.textblock {
    width: 100%;
    margin: 0;
    padding: 0;
}

.showcase {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    img {
        height: 100%;
    }
    .textblock {
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    h1 {
        font-size: 2.1em;
        margin-bottom: 10px;
    }
    p {
        line-height: 1.7em;
    }
}

.image {
    width: 100%;
    height: 500px;
    background-image: contain;
    background-position: left;
}

.testimonials {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 50px;
    padding-left: $pad20;
    padding-right: $pad20;
    box-sizing: border-box;
        .wrap {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 50px;            
        }
        h1 {
            margin-bottom: 80px;
        }
}

.circle-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: -2px 5px 9px #a6a6a6;
}

footer {
    width: 100%;
    min-height: 60px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: $pad20;
    padding-right: $pad20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        color: $blue;
        cursor: pointer;
    }
    span {
        color: grey;
        font-size: 0.8em;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    ul li::after {
        content: " \B7 ";
        position: absolute;
        right: 0;
        padding-right: 5px;
    }
    ul li:last-of-type::after {
        content: none;
    }
}

ul {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    list-style-type:none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
        font-size: 1em;
        line-height: 1.5;
        padding-right: 15px;
        position: relative;
    }
}

.social {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}