$fft: 'Lato', sans-serif;
$fwl: lighter; //font-weight: light;
$pad20: 20px;
$pad40: 40px;
$blue: #007bff;
$maxw: 1000px;

body {
    background: white;
    font-family: $fft;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.3em;
    color: black;
}

h2 {
    color: black;
    font-size: 1.3em;
    margin-top: 15px;
    margin-bottom: 10px;
}

h3 {
    font-size: 0.9em;
    margin-bottom: 5px;
}

p {
    line-height: 1.5;
    color: black;
    font-weight: $fwl;
}
q {
    quotes: "“" "”";
    q:before {
      content: open-quote;
    }
    q:after {
      content: close-quote;
    }
    font-size: 0.8em;
    box-sizing: border-box;
    font-weight: $fwl;
}

img {
    height: 100%;
    width: 100%;
}
svg {
    fill: $blue;
}

button, input {
    max-width: 320px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1em;
    border: 0;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: $blue;
    color: white;
    outline-color: lightgrey;
    cursor: pointer;
}

input {
    
    background: white;
    color: grey;
    text-align: left;
    width: 100%;       
    padding-left: $pad20;
    margin-bottom: 10px;
    outline-color: $blue;
}

.textblock {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-width: 250px;
    max-width: 9000px;
    height: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

header {
    height: 40px;
    width: 90%;
    max-width: $maxw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: black;
        font-size: 0.9em;
    }
    button {
        width: 60px;
        font-size: 0.7em;
        height: 30px;
        border-radius: 3px;
    }
    @media screen and (min-width: 400px) {
        header {
            padding-left: $pad40;
            padding-right: $pad40;
        }
    }
}

.masthead{
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: $pad20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    h1 {
        color: white;
        box-sizing: border-box;
        padding-left: $pad20;
        padding-right: $pad20;
        margin-bottom: 40px;
    }
    button {
        width: 100%;
    }
    @media screen and (min-width: 700px) {
        button {
            width: 170px;
        }
    }
}

.small {
    height: 500px;
}

@media screen and (min-width: 700px) {
    .masthead {
        height: 450px;
    }
    .masthead.small {
        height: 300px;
    }
    .masthead .textblock {
        width: 700px;
    }
}

.wrap {
    width: 100%;
    min-height: 200px;
    p {
        font-size: 1em;
        margin-top: 0;
    }
}

.features {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: $pad20;
    padding-right: $pad20;
    .wrap {
        text-align: center;
        margin-bottom: 50px;
    }
    .wrap:first-of-type{
        margin-top: 50px;
    }
    .wrap:last-of-type {
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
    }    
}

@media screen and (min-width: 900px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        height: 350px;
        padding-top: 55px;
            .wrap {
            max-width: 280px;
        }
        .wrap:nth-child(even) {
            margin-left: $pad40;
            margin-right: $pad40;
        }
    }
}

.showcase {
    width: 100%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    img {
        height: 100%;
    }
    .textblock {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.image {
    width: 100%;
    height: 350px;
    background-image: cover;
    background-position: left;
}

@media screen and (min-width: 900px) {
    .showcase .wrap {
        display:flex;
        flex-direction: row;
        width:100%;
        height: 360px;
        align-items: center;
        .image {
            width: 50%;
            height: 100%;
            background-image: cover;
        }
        .textblock {
            width: 50%;
            padding-left: 60px;
            padding-right: 60px;
        }
    }
    .showcase .wrap:nth-child(odd) {
        display:flex;
        flex-direction: row-reverse;
    }
}

.testimonials {
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 50px;
    padding-left: $pad20;
    padding-right: $pad20;
    box-sizing: border-box;
        .wrap {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 50px;            
        }
        .box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin:0;
            padding:0;
            margin-top: 30px;
        }
}

@media screen and (min-width: 900px) {
    .testimonials {
        height: 450px;
        padding-top: 60px;
    }
    
    .testimonials .box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
    }
    .testimonials .box .wrap {
        max-width: 280px;
        margin-bottom: 0;
    }
    .testimonials .box .wrap .textblock {
        width: 80%;
    }
}

.circle-image {
    width: 145px;
    height: 145px;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: -2px 5px 9px #a6a6a6;
}

footer {
    width: 90%;
    min-height: 60px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: $pad20;
    padding-right: $pad20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a {
        font-size: 0.7em;
        color: $blue;
        cursor: pointer;
    }
    span {
        color: grey;
        font-size: 0.5em;
        margin-top: 1em;
        margin-bottom: 20px;
    }
    ul li::after {
        content: " \B7 ";
        position: absolute;
        right: 0;
        padding-right: 5px;
    }
    ul li:last-of-type::after {
        content: none;
    }
}

@media screen and (min-width: 900px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: $pad40;
        padding-bottom: $pad40;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
        font-size: 1em;
        line-height: 1.5;
        padding-right: 15px;
        position: relative;
    }
}

.footer-nav {
    margin: 0;
    padding: 0;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 900px) {
    .footer-nav {
        align-items: flex-start;
        span {
            margin-bottom: 0;
        }
    }
}

.social {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}