$ff: 'Trebuchet MS', sans-serif;
$blue: #007bff;

body {
    background: white;
    font-family: $ff;
    margin: 0;
    padding: 0;
}

.container {
    min-width: 250px;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}

header {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: black;
    }
    button {
        width: 70px;
        font-size: 0.8em;
        height: 35px;
    }
}

a {
    text-decoration: none;
}

button {
    height: 45px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    border-radius: 5px;
    border: 0;
    background-color: $blue;
    font-size: 1em;
    color: white;
    outline-color: lightgrey;
    cursor: pointer;
}

.masthead{
    width: 100%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    h1 {
        color: white;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 40px;
        margin-top: -40px;
    }
    button {
        width: 100%;
    }
}

h1 {
    font-size: 2em;
    color: black;
}

input {
    background: white;
    color: grey;
    font-size: 1em;
    text-align: left;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding-left: 20px;
    margin-bottom: 10px;
    outline-color: $blue;
}

.wrap {
    width: 100%;
    min-height: 200px;
    p {
        line-height: 1.5;
        font-size: 1.1em;
        margin-top: 0;
    }
}

.features {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    .wrap {
        text-align: center;
        margin-bottom: 50px;
    }
    .wrap:first-of-type{
        margin-top: 50px;
    }
    .wrap:last-of-type {
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
    }
}

svg {
    fill: $blue;
}

h2 {
    color: black;
    font-size: 1.7em;
    margin-top: 15px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

p {
    color: black;
    font-family: 'Century Gothic';
    font-weight: lighter;
}

.showcase {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    img {
        height: 100%;
    }
    h1, p {
        box-sizing: border-box;
        padding-left: 40px;
        padding-right: 40px;
    }
    h1 {
        font-size: 2.1em;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 50px;
        line-height: 1.7em;
    }
}

q {
    quotes: "“" "”";
    q:before {
      content: open-quote;
    }
    q:after {
      content: close-quote;
    }
    font-size: 1em;
    font-family: 'Century Gothic';
}

.image {
    width: 100%;
    height: 500px;
    background-image: contain;
    background-position: left;
}

.testimonials {
    width: 100%;
    min-height: 1400px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
        .wrap {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
        .wrap:first-of-type {
            margin-top: 60px;
        }
        .wrap:last-of-type {
            margin-bottom: 0;
        }
    }
}

.circle-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: -2px 7px 9px #a6a6a6;
}

img {
    height: 100%;
    width: 100%;
}

// h1 {
//     color: $red;
//     span {
//         color: rgba($red, 0.7);
//     }
// }